html, body{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #283538;
}

form{
    border: 1px solid #000;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #A6D6DF;
    
}

input, button, label{
    width: 150px;
    margin: auto;
}

label{
    margin-bottom: 0;
}
input{
    margin-top: 0;
    
}
